body {
    background-image: url('https://wallpapercave.com/wp/wp8149811.jpg');
    background-size: cover; /* Adjust the image size to cover the entire viewport */
    background-repeat: no-repeat; /* Prevent image repetition */
  }